<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    {% if states %}
    <h1>States</h1>
    <ul>
      {% for state in states %}
      <li>{{ state.id }}: <b>{{ state.name }}</b></li>
      {% endfor %}
    </ul>
    {% elif specific_state %}
    <h1>State: {{ specific_state.name }}</h1>
    <h3>Cities:</h3>
    <ul>
      {% for city in specific_state.cities %}
      <li>{{ city.id }}: <b>{{ city.name }}</b></li>
      {% endfor %}
    </ul>
    {% elif states == [] %}
    <h1>States</h1>
    {% else %}
    <h1>Not found!</h1>
    {% endif %}
  </body>
</html>
